main{
    width: 1200px;
    margin: auto;
}
header{
    background-color: royalblue;
}
nav{
    float: left;
    background-color: salmon;
    width: 300px;
}
article{
    float: left;
    background-color: silver;
    width: 899px;
}
footer{
    clear: both;
    background-color: slateblue;
}