.main{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 40px auto 40px;
    grid-template-areas: "head head head" "menu contenedor enlaces" "foot foot foot";
}
.a{
    grid-area: head;
    background-color: blueviolet;
    
}
.b{
    grid-area: menu;
    background-color: deepskyblue;
}
.c{
    grid-area: contenedor;
    background-color: rgb(25, 25, 129);
}
.d{
    grid-area: foot;
    background-color:  rgb(168, 83, 204);
}
.e{
    grid-area: enlaces;
    background-color: rgb(104, 32, 134);
}